{% extends 'base.html' %}

{% block titolo %}Homepage{% endblock %}

{% block contenuto %}

    <h1>Homepage Render Template</h1>
     <br>
    <div class="row">
        <div class="col-md-3">
            <div class="about-snippet text-center">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, fuga? Sint, suscipit! Laboriosam in ipsa, corporis soluta accusamus libero perspiciatis nesciunt asperiores labore suscipit assumenda, at ipsam, nostrum ipsum dicta?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, fuga? Sint, suscipit! Laboriosam in ipsa, corporis soluta accusamus libero perspiciatis nesciunt asperiores labore suscipit assumenda, at ipsam, nostrum ipsum dicta?</p>
            </div>
        </div>

        <div class="col-md-9">
            {% for post in posts %}
            <div class="single-post">
                <h3>{{ post.titolo}}</h3>
                <p>{{ post.body }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
        

{% endblock %}
